#include "types.h"

{{#levels}}
const struct tc_context {{name}}CollisionMap = {
  .map =
{{#map}}    "{{{.}}}"
{{/map}},
  .width = {{width}},
  .height = {{height}},
  .tileWidth = {{tileSize}},
  .tileHeight = {{tileSize}}
};

const struct vec {{name}}PlayerStart = {
    .x = {{playerX}},
    .y = {{playerY}}
};

const struct vec {{name}}CamStart = {
    .x = {{camX}},
    .y = {{camY}}
};

{{/levels}}
